# Android GIT IGNORE

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore


# React Native GIT IGNORE
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
